# This file is used to define environment variables for the Docker Compose setup.

# Postgres configuration
POSTGRES_USER=sadadddasdas
POSTGRES_PASSWORD=Rdsadsadasd
POSTGRES_DB=dasdasd

# Martin configuration
MARTIN_PORT=8080

# Backend configuration
BACKEND_PORT=8000   

# Frontend configuration
FRONTEND_PORT=3000
